@use "../styles/variables.scss";
@use "../styles/mixins.scss";

.button {
  display: inline-flex;
  gap: 8px;
  border-radius: 100px;
  font-size: 16px;
  font-weight: 600;
  line-height: 150%;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all 0.3s ease;

  &_big {
    width: 200px;
    height: 64px;
    background-color: variables.$color-light-m;
    color: variables.$color-dark-xl;
  }

  &_secondary {
    border: 1px solid variables.$color-dark-l;

    &:hover {
      background-color: variables.$color-dark-l;
      color: variables.$color-light-m;

      & .button__arrow {
        stroke: variables.$color-light-m;
      }

      & .button__icon {
        fill: variables.$color-light-m;
      }
    }
  }

  &_round {
    width: 60px;
    height: 60px;
    border: 1px solid variables.$color-dark-l;
  }

  &_light {
    border: 1px solid variables.$color-light-m;

    &:hover {
      background-color: variables.$color-light-m;

      & .button__footer-icon {
        stroke: variables.$color-dark-xl;
      }
    }
  }

  &__wraper {
    width: 116px;
    display: flex;
    flex-direction: column;
  }

  &__text {
    font-size: 10px;
    font-weight: 600;
    line-height: 140%;
  }

  &__title {
    font-size: 16px;
    font-weight: 600;
    line-height: 150%;
  }

  &__icon {
    fill: variables.$color-dark-xl;
    transition: all 0.3s ease;
  }

  &__footer-icon {
    stroke: variables.$color-light-m;
    transition: all 0.3s ease;
  }
  &_primary:hover .button__hide-icon {
    width: 20px;
  }
  &__hide-icon {
    width: 0;
    transition: width 0.3s ease;
  }

  &__arrow {
    stroke: variables.$color-dark-xl;
    transition: all 0.3s ease;
  }
}
