@use "../styles/variables.scss";
@use "../styles/mixins.scss";

.gallery {
  width: 100%;
  height: 1060px;
  display: grid;
  row-gap: 2.778vw;
  column-gap: 2.778vw;
  grid-template-rows: 430px auto 430px;
  grid-template-columns: 1fr 1fr;

  &__image-wraper {
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;

    &:hover .gallery__image {
      transform: scale(1);
    }

    &:first-child {
      grid-row: 1/3;
    }

    &:last-child {
      grid-row: 2/4;
    }

    &:nth-child(2),
    &:nth-child(3) {
      grid-row: span 1;
    }
  }

  &__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.5s ease;
    transform: scale(1.1);
  }
}
