@use "../styles/variables.scss";
@use "../styles/mixins.scss";

.gallery {
  display: grid;
  row-gap: 2.778vw;
  column-gap: 2.778vw;
  grid-template-rows: 430px auto 430px;
  grid-template-columns: 1fr 1fr;

  &__image-wraper {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;

    &:first-child {
      grid-row: 1/3;
    }

    &:last-child {
      grid-row: 2/4;
    }

    &:nth-child(2),
    &:nth-child(3) {
      grid-row: span 1;
    }
  }

  &__image {
    width: 110%;
    height: auto;
    transition: all 0.3s ease;
  }
}
