@use "../styles/variables.scss";
@use "../styles/mixins.scss";

.navigation {
  margin-top: -8px;
  display: flex;
  align-items: baseline;

  &__list {
    display: flex;
    flex-direction: row;
    gap: 40px;
    margin-right: calc((100vw - 708px) / 2);
  }

  &__item {
    position: relative;
    list-style: none;
    transition: all 0.3s ease;

    &::after {
      position: absolute;
      content: "";
      left: 0;
      bottom: -5px;
      display: block;
      height: 2px;
      background: variables.$color-dark-xl;
      width: 0;
      transition: all 0.3s ease;
      left: 50%;
      transform: translateX(-50%);
    }

    &:hover::after {
      width: 100%;
    }
  }

  &__link {
    text-decoration: none;
    color: inherit;
  }
}

@include mixins.device(mixins.$md) {
  .navigation {
    position: fixed;
    right: -1000px;
  }
}
