@use "../styles/variables.scss";
@use "../styles/mixins.scss";

.progress {
  display: flex;
  gap: 12px;

  &__wraper {
    width: 40px;
    height: 4px;
    border-radius: 100px;
    background: variables.$color-light-xl;
  }

  &__inner {
    height: 4px;
    border-radius: 100px;
    width: 0;
    background-color: variables.$color-dark-l;
    transition: width 0.3s ease;
  }
}
