@use "../styles/variables.scss";
@use "../styles/mixins.scss";

.section {
  margin-bottom: 100px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 40px;

  &_enjoy {
    background-image: url("../images/img-hero.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 40px;
    max-width: 1360px;
    height: auto;
    overflow: hidden;
    padding: 100px;
    padding: clamp(60px, 7.4%, 100px);
    color: variables.$color-light-m;
    justify-content: flex-start;
  }

  &_footer {
    color: variables.$color-light-m;
    background-color: variables.$color-dark-l;
    border-radius: 40px;
    padding: 100px;
    padding: clamp(60px, 7.4%, 100px);
    margin-bottom: 0;
  }

  &__wraper {
    width: 43.75vw;
    display: flex;
    flex-direction: column;
    gap: 40px;
    justify-content: center;
    max-width: 630px;

    &_one {
      width: 100%;
      max-width: 540px;
    }

    &_footer {
      width: 36.8vw;
      max-width: 540px;
    }
  }

  &__main-title {
    color: inherit;
    font-size: 72px;
    font-weight: 600;
    line-height: 105%;
  }

  &__accent {
    color: variables.$color-accent;
    font-family: "Inter-italic";
  }

  &__description {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
  }

  &__title {
    font-size: 60px;
    font-weight: 600;
    line-height: 125%;

    &_center {
      margin: 0 auto;
    }
  }

  &__buttons {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
  }

  &__image {
    max-width: 630px;
    width: 43.75vw;
    height: auto;
    object-fit: cover;
  }

  &__icons {
    display: flex;
    gap: 12px;
  }
  &__contact-title {
    font-size: 24px;
    font-weight: 600;
    line-height: 125%;
  }

  &__contacts {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  &__contact {
    list-style: none;
  }

  &__link {
    text-decoration: none;
    color: inherit;
  }

  &__icon {
    width: 20px;
    height: 20px;
    margin-right: 8px;
  }
}
