@use "../styles/variables.scss";
@use "../styles/mixins.scss";

.slider {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  &__wraper {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 4px;
    box-sizing: border-box;
  }

  &__button {
    flex-shrink: 0;
  }

  &__card {
    display: flex;
  }

  &__progress {
    margin-top: 40px;
  }
}

@include mixins.device(mixins.$md) {
  .slider {
    &__wraper {
      padding: 0;
    }
  }
}

@include mixins.device(mixins.$sm) {
  .slider {
    &__wraper {
      justify-content: center;
    }
    &__card {
      width: 100%;
    }
  }
}

@include mixins.device(mixins.$sm1) {
  .slider {
    &__button {
      display: none;
    }
  }
}
