$color-dark-xl: var(--color-dark-xl);
$color-dark-l: var(--color-dark-l);
$color-dark-m: var(--color-dark-m);
$color-light-m: var(--color-light-m);
$color-light-xl: var(--color-light-xl);
$color-accent: var(--color-accent);

:root {
  --color-dark-xl: #403f3d;
  --color-dark-l: #665f55;
  --color-dark-m: rgba(64, 63, 61, 0.8);
  --color-light-m: #e1d4c9;
  --color-light-xl: #c1b6ad;
  --color-accent: #b0907a;
}
